<%- include('partials/header') %>
    <div class="container-fluid" style="padding: 1rem;">
        <h2 style="text-align: center;">Edit Client Details</h2>
        <div class="container-fluid" style="padding: 1rem;">
            <form action="/postmodclient" method="post">
                <div class="container" style="padding: 5rem; align-items: center;">
                    <div>
                        <label for="cid" class="form-label" style="font-weight: bold;">Client ID</label>
                        <input type="text" class="form-control" id="cid" name="cid" value="<%= result[0].clientsid %>" readonly>
                    </div>
                    <div>
                        <label for="cname" class="form-label" style="font-weight: bold;">Client Name</label>
                        <input type="text" class="form-control" id="cname" name="cname" value="<%= result[0].cname %>">
                    </div>
                    <div>
                        <label for="caddr" class="form-label" style="font-weight: bold;">Client Address</label>
                        <input type="text" class="form-control" id="caddr" name="caddr" value="<%= result[0].caddress %>">
                    </div>
                    <div>
                        <label for="cgstin" class="form-label" style="font-weight: bold;">Client GSTIN</label>
                        <input type="text" class="form-control" id="cgstin" name="cgstin" value="<%= result[0].cgstin %>">
                    </div>
                    <div>
                        <label for="crate" class="form-label" style="font-weight: bold;">Client Manufacturing Rate</label>
                        <input type="number" class="form-control" id="crate" name="crate" value="<%= result[0].crate %>">
                    </div>
                    <div>
                        <label for="creprate" class="form-label" style="font-weight: bold;">Client Repairing Rate</label>
                        <input type="number" class="form-control" id="creprate" name="creprate" value="<%= result[0].creprate %>">
                    </div>
                    <div>
                        <label for="cgsttype" style="font-weight: bold;">Client GST Type:</label>
                            <select name="cgsttype" id="cgsttype" class="form-control">
                                <option value="igst">IGST</option>
                                <option value="cs">CGST/SGST</option>
                            </select>
                    </div>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>  
            </form>
        </div>
    </div>



<%- include('partials/footer') %>