<%- include('partials/header') %>
    <div class="container-fluid text-center" style="padding: 1rem;">
        <h2>Invoice List</h2>
        <br>
        <br>
        <div class="container-fluid">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Bill No.</th>
                        <th>Date</th>
                        <th>Client Name</th>
                        <th>Total Weight</th>
                        <th>Total Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <%var i = 0;%>
                    <%for(i=0;i<r.length;i++){%>
                        <tr>
                            <td>SPJ-<%=r[i].rid%></td>
                            <%var d = r[i].date;%>
                            <%d=d.toLocaleDateString("en-GB");%>
                            <td><%=d%></td>
                            <td><%=r[i].cname%></td>
                            <td><%=r[i].totwt%></td>
                            <td><%=r[i].net_total%></td>
                        </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
    </div>



<%- include('partials/footer') %>